{% extends 'niupih/base.html' %}
{% block orders %}
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">点击×取消车次来删除一条信息</h3>
                  <div class="row grid-margin">
                    <div class="col-12">
                      <div class="alert alert-warning" role="alert" >
                          <h5><strong>请注意！！！</strong>信息删除后无法恢复，请谨慎处理</h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table" cellspacing="0" width="100%">
                          <thead>
                            <tr class="bg-primary text-white">
                                <th>车辆编号</th>
                                <th>始发车站</th>
                                <th>到达车站</th>
                                <th>票价</th>
                                <th>发车时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for b in bus %}
                            <tr>
                                <td>{{b.num}}</td>
                                <td>{{b.start_station}}</td>
                                <td>{{b.end_station}}</td>
                                <td>￥{{b.price}}</td>
                                <td>{{b.start_time}}</td>
                                <td>
{#                                    {% if b.start_time < time3 %}#}
{#                                  <label class="badge badge-info">已发车</label>#}
{#                                        {% else %}#}
{#                                        <label class="badge badge-info">未发车</label>#}
{#                                    {% endif %}#}
                                </td>
                                <td>
                                    <a href="{% url 'myadmin:bus_detail' b.bid %}">
                                  <button class="btn btn-light">
                                    <i class="mdi mdi-eye text-primary"></i>查看详情
                                  </button>
                                        </a>
                                    <a href="{% url 'myadmin:bus_delete' b.bid %}">
                                  <button class="btn btn-light">
                                    <i class="mdi mdi-close text-danger"></i>取消车次
                                  </button>
                                        </a>
                                </td>
                            </tr>
                          {% endfor %}

                          </tbody>
                        </table>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock orders %}
