{% extends 'niupih/base.html' %}
{% block data_table %}
        <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">专车信息表</h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
{#                        表头#}
                      <thead>
                        <tr>
                            <th>车型</th>
                            <th>出发时间</th>
                            <th>发布者</th>
                            <th>始发地</th>
                            <th>目的地</th>
                            <th>价 格</th>
                            <th>剩余座位</th>
                            <th>查看细节</th>
                        </tr>
                      </thead>
                      <tbody>
{#                      循环，信息列表#}
{% for car in cars %}
                        <tr>
                            <td>{{ car.car_type }}</td>
                            <td>{{car.start_time}}</td>
                            <td>{{car.car_uid.username}}</td>
                            <td>{{car.start_city}}</td>
                            <td>{{car.end_city}}</td>
                            <td>{{ car.price }}</td>
                            <td>
                                <label class="badge badge-info">On hold</label>
                            {% if car.left_seats != 0 %}
                                <label class="badge badge-success">剩余{{ car.left_seats }}个座位</label>
                            {% endif %}
                                {% ifequal car.left_seats 0 %}
                                <label class="badge badge-danger">已满</label>
                                {% endifequal %}
                            </td>
                            <td>
                                <a href="{% url 'myadmin:car_detail' car.cid%}">
                              <button class="btn btn-outline-primary">View</button>
                                    </a>
                            </td>
                        </tr>
{% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock data_table %}