{% extends 'niupih/base.html' %}
{% block base_table %}
      <!-- partial -->
    <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">用户列表</h3>
                  <p class="card-description">
{#                    Add class <code>.table-striped</code>#}
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            <b>用户头像</b>
                          </th>
                          <th>
                            <b>用户昵称</b>
                          </th>
                          <th>
                              <b>身份证号</b>
                          </th>
                          <th>
                            <b>联系电话</b>
                          </th>
                          <th>
                            <b>居住地址</b>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
{#                      循环#}
{% for u in userdetail %}
    <input type="hidden" name="uid" value="{{ u.user_uid.uid }}">
                        <tr>
                          <td class="py-1">

                              {% ifequal u.user_uid.type 0 %}
                                  {% if u.user_uid.portrait == None %}
                                    <img src="/static/niupih/images/user.jpeg" alt="image"/>
                              {% endif %}
                                  {% if u.user_uid.portrait != None %}
                                    <img src="{{ u.user_uid.portrait }}" alt="image"/>
                                  {% endif %}
                              {% endifequal %}

                          {% ifequal u.user_uid.type  1 %}
                              {% if u.pic == None %}
                                    <img src="/static/niupih/images/admin.jpeg" alt="image"/>
                              {% endif %}

                              {% if u.pic != None %}
                                  <img src="/static/niupih/images/{{u.pic}}" alt="image"/>
                              {% endif %}
                                  {% endifequal %}

                          </td>
                          <td>
                              <a href="{% url 'myadmin:user_detail' u.user_uid.uid %}">{{ u.user_uid.username }}</a>
                          </td>
                          <td>
                              {% if u.id_num == None %}
     -
                                  {% else %}
                                  {{ u.id_num }}
                              {% endif %}
                          </td>
                          <td>
                            {{ u.user_uid.phone }}
                          </td>
{#                            {% if udetail.user_uid == u.uid %}#}
                          <td>
                              {% if u.address == None %}
                                  -
                                  {% else %}
                                  {{ u.address }}
                              {% endif %}

                          </td>
{#                            {% endif %}#}
                        </tr>

{% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
{% endblock base_table %}