{% extends 'niupih/base.html' %}
{% block landing %}
    <div class="container-scroller landing-page">
			<div class="container-fluid top-banner">
				<nav class="navbar navbar-expand-lg bg-transparent">
					<div class="row flex-grow">
						<div class="col-md-8 d-lg-flex flex-row mx-auto">
							<a class="navbar-brand" href="#">
								<img src="/static/niupih/images/logo.svg" alt="logo"/>
							</a>
							<button class="navbar-toggler collapsed float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon ti ti-menu text-white"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="nav-link btn btn-link" href="#">HOME</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn btn-link" href="#">PRICING</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn btn-link" href="#">CONTACT</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
				<div class="row top-banner-content">
					<div class="col-md-8 mx-auto">
						<div class="row">
							<div class="col-lg-7">
								<h1 class="mr-2 text-white">
									NIUPIWANG BUS STATION
								</h1>
								<h3 class="font-weight-light text-white">
									Welcome~
								</h3>
								<div class="mt-5">
									<button class="btn btn-success btn-lg mr-2">VIEW ALL DEMO</button>
									<button class="btn btn-warning btn-lg ml-2">BUY NOW</button>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="demo-image">
									<img src="/static/niupih/images/samples/Mac.png" alt="image"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
{% endblock landing %}

