{% extends 'niupih/base.html' %}
{% block portfolio %}
        <div class="content-wrapper">
					<div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="row portfolio-grid">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="/static/niupih/images/bus.jpg" alt="image"/>
                            <figcaption>
                              <h4>Photography</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="http://via.placeholder.com/300x300/72788a/ffffff" alt="image"/>
                            <figcaption>
                              <h4>Lifestyle</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="http://via.placeholder.com/300x300/72788a/ffffff" alt="image"/>
                            <figcaption>
                              <h4>Tech Geeks</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="http://via.placeholder.com/300x300/72788a/ffffff" alt="image"/>
                            <figcaption>
                              <h4>Explore World</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="http://via.placeholder.com/300x300/72788a/ffffff" alt="image"/>
                            <figcaption>
                              <h4>Travel</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="http://via.placeholder.com/300x300/72788a/ffffff" alt="image"/>
                            <figcaption>
                              <h4>Colors</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in">
                            <img src="/static/niupih/images/bbsq2.jpeg" alt="image"/>
                            <figcaption>
                              <h4>Vision</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock portfolio %}