{% extends 'app/base.html' %}
{% load static %}


{% block head %}
    {{ block.super }}
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}

{#内容开始        #}
{% block content %}

    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4><i class="icon icon-home2"></i>牛皮网</h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white">
                        <li>
                            <a class="nav-link   active" href="{% url 'app:index' %}"><i
                                    class="icon icon-list"></i>首页</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'app:select' %}"><i
                                    class="icon icon-plus-circle"></i> 车票</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'app:buy' %}"><i class="icon icon-trash-can"></i>购买</a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">

                <!--首页 Start-->
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-1">
                    <div class="row">
                        <div class="col-md-4 mx-md-auto m-5">
                            <div class="card no-b shadow">
                                <div class="card-body p-4">
                                    <div>
                                        <i class="icon-calendar-check-o s-48 text-primary"></i>
                                        <p class="p-t-b-20">输入以查询车票</p>
                                    </div>
                                    <form action="{% url 'app:index' %}?start=&end=" method="post" id="aaa">
                                        <div class="form-group has-icon"><i class="icon-calendar"></i>
                                            <input class="form-control form-control-lg datePicker" placeholder="From"
                                                   type="text" name="from">
                                        </div>
                                        <div class="form-group has-icon"><i class="icon-calendar"></i>
                                            <input class="form-control form-control-lg datePicker" placeholder="GO"
                                                   type="text" name="go">
                                        </div>
                                        {% csrf_token %}
                                        <input class="btn btn-success btn-lg btn-block" value="查询" type="submit"
                                               id="bbb">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--首页 End-->

            </div>
        </div>
    </div>
    <script>
        $("#bbb").click(function () {
            console.log('555')
            var a = $('')
            $('form').action = 'index.html?start=' + pp + '&end=' + pp;
        })
    </script>

{% endblock %}
<!-- 内容结束 -->
