{% extends 'app/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-database"></i>
                        用户中心
                    </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white">
                        <li>
                            <a class="nav-link " href="{% url 'app:userinfo' %}"><i
                                    class="icon icon-list"></i>首页</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'app:relation' %}"><i
                                    class="icon icon-plus-circle"></i> 常用联系人</a>
                        </li>
                        <li>
                            <a class="nav-link  active" href="{% url 'app:news' %}"><i class="icon icon-trash-can"></i>消息</a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">

                <!--首页 Start-->
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-1">
                    <div class="row">
                        <div class="col-md-10 mx-md-auto m-5">
                            <div class="card no-b">
                                <div class="card-header white pb-0">
                                    <div class="d-flex justify-content-between">
                                        <div class="align-self-center">
                                            <ul class="nav nav-pills mb-3" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active show r-20" id="w3--tab1" data-toggle="tab"
                                                       href="#w3-tab1" role="tab" aria-controls="tab1"
                                                       aria-expanded="true" aria-selected="true">Tab 1</a>
                                                </li>
                                                <li>&nbsp&nbsp&nbsp</li>
                                                <li class="nav-item">
                                                    <a class="nav-link active show r-20" id="w3--tab2" data-toggle="tab"
                                                       role="tab" aria-controls="tab2"
                                                       aria-expanded="true" aria-selected="true">未读消息：</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="align-self-center">
                                            <h5>牛皮网</h5>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body no-p">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="w3-tab1" role="tabpanel"
                                             aria-labelledby="w3-tab1">
                                            <div class="table-responsive">
                                                <table class="table table-hover earning-box">

                                                    <tbody>
                                                    <tr class="no-b">
                                                        <th class="w-10"><span class="round">

                                                        </th>
                                                        <th width="300px">标题/发送时间</th>
                                                        <th width="400px">内容</th>
                                                        <th width="300px">发信人</th>
                                                        <th>bling</th>
                                                    </tr>
                                                    {% for new1,real in newsol.items %}

                                                        {% if new1.belong_user.uid == user.uid %}

                                                            <tr class="no-b">
                                                                <td class="w-10"><span class="round">
                                                                    <img style="width: 66px" src="{{ real.user_uid.portrait }}" alt="user"></span>
                                                                </td>
                                                                <td style="width: 200px">
                                                                    <h6>{{ new1.title }}</h6>
                                                                    <small class="text-muted">{{ new1.set_time }}</small>
                                                                </td>
                                                                <td>{{ new1.content }}</td>
                                                                <td>{{ real.real_name }}</td>
                                                                <div>
                                                                    <td>
                                                                        <a id="aid" href="{% url 'app:news' %}">
                                                                            <span id="clickbut" class="r-3 badge badge-warning">朕知道了</span></a>
                                                                    </td>
                                                                    <input name="read" id="vid" type="hidden" value="{{ new1.nid }}">
                                                                </div>
                                                                    <SCRIPT>
                                                                        $('#clickbut').click(function () {
                                                                            var bo = $('#vid').val();
                                                                            document.getElementById('aid').href = '{% url 'app:news' %}?read='+bo
                                                                        })
                                                                    </SCRIPT>

                                                            </tr>

                                                        {% endif %}

                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <nav class="pt-3" aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

