{% extends 'app/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <div class="page has-sidebar-left">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4><i class="icon icon-home2"></i>牛皮网</h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white">
                        <li>
                            <a class="nav-link   active" href="{% url 'app:payment' %}"><i
                                    class="icon icon-list"></i>订单</a>
                        </li>
                        <li>
                            <a class="nav-link" href="＃"><i
                                    class="icon icon-plus-circle"></i> 保险订单</a>
                        </li>
                        <li>
                            <a class="nav-link" href="＃"><i class="icon icon-trash-can"></i>　投诉与建议</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="invoice white shadow">
                <div class="p-5">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <img class="w-80px mb-4" src="{% static 'assets/img/dummy/bootstrap-social-logo.png' %}" alt="">

                            <div class="float-right">

                                <h4>NP #{{ PO }}</h4><br>
                                <table>
                                    <tr>
                                        <td class="font-weight-normal">Date:</td>
                                        <td>2/10/2014</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-normal">Order ID:</td>
                                        <td>4F3S8J</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-normal">Payment Due: &nbsp; &nbsp; &nbsp;</td>
                                        <td> 2/22/2014</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-normal">Account:</td>
                                        <td>968-34567</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3 ">
                        <div class="col-sm-4">
                            来自
                            <address>
                                <strong>用户：{{ user.username }}</strong><br>
                                addsdasdsdsa<br>
                                手机号：{{ user.phone }}<br>
                                邮箱：{{ user.email }}
                            </address>
                        </div>
                        <div class="col-sm-4">
                            支付提供
                            <address>
                                <strong>牛皮网</strong><br>
                                负责人：李子坤<br>
                                联系电话： (555) 539-1037<br>
                                认证号：ICP955J0X
                            </address>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>编号</th>
                                    <th>车次</th>
                                    <th>乘车编号</th>
                                    <th>乘车人名字</th>
                                    <th>始发/终点</th>
                                    <th>价格</th>
                                </tr>

                                {% for k,v in kll.items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ bun.bus_num }}</td>
                                    <td>{{ v }}</td>
                                    <td>{{ k.username }}</td>
                                    <td>{{ bun.start_city }} / {{ bun.end_city }}</td>
                                    <td>{{ bun.price }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-6">
                            <p class="lead">支付方式:</p>
                            <img style="height: 40px;width: 40px" src="{% static 'assets/img/basic/001.png' %}" alt="Visa">
                            &nbsp;
                            <img style="height: 40px;width: 40px" src="{% static 'assets/img/basic/002.png' %}" alt="Mastercard">
                            <span>(目前暂不支持此支付方式)</span>
                            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                请在支付之前确认客户信息,订单出错造成的损失我们概不负责
                                ！ ！ ！
                                您可以在右边选择更改和付款
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="lead">&nbsp;&nbsp;{{ time }}</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:50%">总票价:</th><td>{{ cash }}</td>
                                    </tr>
                                    <tr>
                                        <th>保险费率:</th><td>10%</td>
                                    </tr>
                                    <tr>
                                        <th>保险费:</th><td>{{ bcore }}</td>
                                    </tr>
                                    <tr>
                                        <th>总支付:</th><td>{{ num_core }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row no-print">
                        <div class="col-12">
                            <a href="{% url 'app:pay_ali' %}?pay_num={{ PO }}&pay_price={{ num_core }}">
                            <button type="button" class="btn btn-success btn-lg  float-right"><i
                                    class="icon icon-credit-card"></i> 支付
                            </button></a>
                            <a id="ooo" href="">
                            <button id="xiao" type="button" class="btn btn-primary btn-lg float-right mr-2">
                                <i class="icon icon-cloud-download"></i> 取消
                            </button></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#xiao').click(function () {
            console.log('ooo');
            $.ajax({
                url:'{% url 'app:send_new' %}',
                type:'GET',
                data:{'id':'{{ PO }}',
                    'code':1,
                }
            });
            document.getElementById('ooo').href = '{% url 'app:pay_list' %}'
        })
    </script>

{% endblock %}

